<h1 align=center><font size = 5>Lab07</font></h1>
<h1 align=center><font size = 4>Pandas </font></h1>

In [2]:
import pandas as pd

In [3]:
my_dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

**1- Create a DataFrame called `df` from the above dictionary**

In [5]:
df = pd.DataFrame(my_dict)
print(df)

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

**2- Set the index for `df` - ["BR", "RU", "IN", "CH", "SA"]**

In [6]:
df = df.set_index([pd.Index(["BR", "RU", "IN", "CH", "SA"])])
print(df)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

**3- Print out country column as Pandas Series**

In [7]:
country_series = df["country"]
print(country_series)

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

**4- Print out country column as data frame**

In [9]:
country_df = df[["country"]]
print(country_df)

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

**5- Print out a DataFrame with country and area columns**

In [12]:
country_area = df[["country","area"]]
print(country_area)

         country    area
BR        Brazil   8.516
RU        Russia  17.100
IN         India   3.286
CH         China   9.597
SA  South Africa   1.221

**6- Print out the first 4 observations**

In [21]:
country_area.head(4)

   country    area
BR  Brazil   8.516
RU  Russia  17.100
IN   India   3.286
CH   China   9.597

In [22]:
country_area.tail(2)

         country   area
CH         China  9.597
SA  South Africa  1.221

**7- Print out fourth and fifth observations**

In [26]:
observations = df.iloc[3:5] 
print(observations)

         country   capital   area  population
CH         China   Beijing  9.597     1357.00
SA  South Africa  Pretoria  1.221       52.98

**8- Print out observation (row) for India**

**9- Get the area and population of china and India**

**10 - Read Grades.csv file into the pandas data frame and answer the following question:**
- Using the head method returns the first five rows
- Print out the column names
- Print out the row names as a list
- Get the dimensions of the data frame with shape
- Get the data type of each column
- Look at how many unique grades exist
- Get the mean, min, max of all the numric values
- Find the average of the final grade for each Grade category
- How many students got the Grade as "A"?
- Find the name of the student with the highest final grade